.suggestion{
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
}

.v-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    position: absolute;
    right: 20px;
    cursor: pointer;
    font-size: 15px;
}