.suggestion{
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
    background: #f4f4f4;
}

.v-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.close{
    position: absolute;
    left: 24px;
    cursor: pointer;
    font-size: 15px;
    z-index: 9999;
}

.nav{
    height: 60px;
    background: teal;
    color: #f4f4f4;
}

.nav .search{
    width: 50%;
    position: relative;
}
.searchcontainer{
    position: absolute;
    width: 100%;
    margin:0 !important;
}

td{
    vertical-align: middle !important;
}

th{
    width: 100px !important;
}

.gainers, .loosers{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    justify-content: center;
}

.mylinks{text-decoration: none !important;}
.mylinks *{font-size: 15px;}

ul{list-style: none;}
.nav-link a{text-decoration: none !important; color: #eee;}
.nav-link a:hover{color: #f4f4f4;}
.stockname{font-size: 40px;}
.indexname{font-size: 25px;}