.suggestion{
    display: flex;
    justify-content: space-between;
    text-decoration: none !important;
    background: #f4f4f4;
}

.v-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardclose{
    position: absolute;
    cursor: pointer;
    font-size: 20px;
    top: -14px;
    right: 6px;
}

.nav{
    height: 60px;
    background: teal;
    color: #f4f4f4;
}

.nav .search{
    width: 50%;
    position: relative;
}

.symbolsearch{position: relative;}
.searchcontainer{
    z-index: 99;
    position: absolute;
    width: 100%;
    margin:0 !important;
}

td{
    vertical-align: middle !important;
}

th{
    width: 100px !important;
}

.gainers, .loosers, .value, .volume{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    grid-gap: 5px;
    justify-content: center;
}

.heading {font-size: 25px;}
.mylinks{text-decoration: none !important;}
.mylinks *{font-size: 15px;}
.bookmarkbtn{
    position: fixed;
    margin: 5px 15px;
    padding: 0 5px 5px 5px;
    font-size: 25px;
}
ul{list-style: none;}
.nav-link a{text-decoration: none !important; color: #eee;}
.nav-link a:hover{color: #f4f4f4;}
.stockname{font-size: 30px;}
.indexname{font-size: 25px;}
.symbol-info * {font-size: 15px;}
.symbol-info small {font-size: 9px;}
.corpaction{height: 200px;}
.priceinfo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    text-align: center;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.highcharts-data-table table{width: 100%;text-align: center;}
.trade-table{font-size: 15px;}
.wlcard{
    font-size: 15px;
}
.mktdepth{
    height: 5px;
}
.mycardcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 5px;
    justify-content: center;   
}
.mycardcontainer .mycard {transition: 0.5s;}

.cardlinks{
    text-decoration: none !important;
    color: #555;
    transition: 0.25s;
    display: block;
}

.cardlinks:hover{
    font-weight: bold;
    color: #555;
}

.screener-data h3 {font-size: 20px; text-align: center;font-weight: bold;}
.screener-data button{all: unset;}
.screener-data a{display: none;}
.menu{font-size: 20px;position: relative;}